body {
    background-image: url(../img/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.board {
    margin: 30px auto;
    width: 550px;
    height: 444px;
    border: 1px solid black;
    background: #fff;
    position: relative;
}

.startGame {
    border-radius: 70px;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    height: 100px;
    width: 200px;
    background: red;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
}

.tile {
    position: absolute;
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url('../title.png');
    margin: 10px;
}
